body {
  background-color: rgb(250, 251, 253);
}

nav {
  border-bottom: 1px solid rgb(68, 68, 68);
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.deck,
.addDeckButton,
footer {
  background-color: #131313;
}

.deckName {
  border-bottom: 1px solid rgb(205, 205, 205);
}

img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}
